.git
.github
.cursor
node_modules
vendor
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
.env
.env.*
.phpunit.cache
.phpunit.result.cache
tests
docs
*.md
!README.md
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
database/database.sqlite
