/auth.json
composer
composer.phar
.env
.env.backup
.env.production
/.fleet
Homestead.json
Homestead.yaml
/.idea
/node_modules
/.nova
npm-debug.log
.phpactor.json
/.phpunit.cache
.phpunit.result.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.vscode
yarn-error.log
/.zed
composer-setup.php
